{% extends 'cls/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'cls/css/style-about.css' %}" />
    <div class="body">
        <div class="module">
                <span>
                    Welcome to our service that provides the ability to quickly and conveniently calculate the calorie content of any dish!

Our service uses state-of-the-art artificial neural network technology to calculate the calorie content of dishes. We have compiled an extensive database that includes thousands of different ingredients and recipes to ensure maximum accuracy in calculations.

We understand how important proper nutrition is for the health and well-being of our users. Our team is working to make our service easy and convenient for everyone to use. We aim to help people control their diet and achieve their healthy goals.

Our mission is to provide our users with a reliable and accurate tool for calculating the calorie content of dishes, so they can make informed decisions about their nutrition. We are ready to help anyone who is looking for ways to control their diet and maintain their health.

Thank you for choosing our service. We hope you will be satisfied with the results of our work and continue to use our service to achieve your goals. If you have any questions or suggestions, please contact us. We are always ready to help!
                </span>
        </div>

    </div>
    
    <script src="{% static 'cls/js/script.css' %}"></script>
{% endblock %}
