{% extends 'cls/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'cls/css/style-search.css' %}" />
      <section class="demo">
        <dl class="list">
            <dt>Product</dt>
            {% for item in result1.results %}
            <dd><a href="{% url 'product' item.id %}">{{ item.title }}</a></dd>
            {% endfor %}
        </dl>
    </section>
    

<script src="{% static 'cls/js/script-search.js' %}"></script>
{% endblock %}