{% extends 'cls/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'cls/css/style-search.css' %}" />
    <div class="demo">
        <p>Product</p>

        <ul class="list">
            {% for item in result1.results %}
            {% comment %} need image_url of product {% endcomment %}
            <li><a class="link" href="{% url 'product' item.id %}">{{ item.title }}
                <span><img src={{ item.image_url }} width="100px" /></span>
            </a></li>
            {% endfor %}
        </ul>
    </div>
    

<script src="{% static 'cls/js/script-search.js' %}"></script>
{% endblock %}