{% extends 'cls/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'cls/css/style-settings.css' %}" />
    <div class="body">
        <div class="module">
                <img id="profile-img" src="{% static "cls/images/none-profile.png" %}" />
                {% comment %} name {{ name && email }} {% endcomment %}
                <div class="profile-info">
                    <div class="name-input">
                        <input type="text" id="name" placeholder="name">
                    </div>
                    <div class="email-input">
                        <input type="email" id="email" placeholder="email">
                    </div>
                    <div class="password-input">
                        <input type="password" id="password" placeholder="password">
                    </div>
                </div>
                <span id="edit"><a href="{% url 'settings' %}">EDIT DATA<a/></span>

        </div>

    </div>
    
    <script src="{% static 'cls/js/script.css' %}"></script>
{% endblock %}
