.search-box {
	display: flex;
	position: absolute;
	background-color: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 40px;
}

.search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f0f0f0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #2f3640;
	text-decoration: none;
}

.search-txt {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	color: #fff;
	font-size: 16px;
	transition: .4s;
	line-height: 40px;
	width: 0;
}

.search-box:hover .search-txt {
	width: 300px;
}

.search-box {
    width: 450px;
    height: 70px;
    position:absolute;
    align-items: center;
    top: -150px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.joke-line {
    display: flex;
    color: rgb(127, 94, 159);
    margin-top: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-arrow-up {
    margin: 0;
    padding: 0;
    height: 350vh;
}

.arrawUp {
    position: fixed;
    bottom: 5%;
    right: 3%;
    color: #ffffff;
    width: 70px;
    height: 70px;
    background: linear-gradient(130deg, #2d2722 50%, #398a99 50%);
    background-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 50px;
    border-radius: 5px;
    transition: .5s;
}

.arrawUp:hover {
    background-position: 100% 0;
}

