<div th:fragment="header">
    <div class="header" id="search">
        <div class="logo">
            <img src="/image/icons/logo.ico" alt="logo">
        </div>
        <div class="icons">
            <div class="button-about-us">
                <a href="/about-us">
                    <span class="header-a">ABOUT US</span>
                    <img src="/image/icons/about-us.ico" alt="logo">
                </a>
            </div>
            <div class="button-settings">
                <a href="/settings">
                    <span>SETTINGS</span>
                    <img src="/image/icons/settings.ico" alt="logo">
                </a>
            </div>
            <div class="button-profile">
                <a href="/profile">
                    <span>PROFILE</span>
                    <img src="/image/icons/profile.ico" alt="logo">
                </a>
            </div>
        </div>
    </div>
</div>
