<div th:fragment="list" name="list">
    <div class="container">
        <a href="#" class="item"><img src="img1.jpg"></a>
        <a href="#" class="item"><img src="img2.jpg"></a>
        <a href="#" class="item"><img src="img3.jpg"></a>
        <a href="#" class="item"><img src="img4.jpg"></a>
        <a href="#" class="item"><img src="img5.jpg"></a>
        <a href="#" class="item"><img src="img6.jpg"></a>
        <a href="#" class="item"><img src="img7.jpg"></a>
        <a href="#" class="item"><img src="img8.jpg"></a>
        <a href="#" class="item"><img src="img9.jpg"></a>
    </div>
</div>
  