<div th:fragment="positive">
<head>
  <link rel="stylesheet" type="text/css" href="/css/positive_message_style.css">
</head>
<div id="container">
  <div id="success-box">
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message"><h1 class="alert">Success!</h1><p>yay, everything is working.</p></div>
    <a>
    <button data-dismiss="disabled" class="button-box"><h1 class="green">continue</h1></button>
    </a>
  </div>
</div>
</div>

