#search-ico {
    width: 35px;
}

.search-box {
	display: flex;
	position: absolute;
	background-color: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 40px;
}

.search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f0f0f0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #2f3640;
	text-decoration: none;
}

.search-txt {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	color: #fff;
	font-size: 16px;
	transition: .4s;
	line-height: 40px;
	width: 0;
}

.search-box:hover .search-txt {
	width: 300px;
}


.search-box {
    width: 450px;
    height: 20px;
    position:absolute;
    align-items: center;
    top: -150px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.joke-line {
	margin-top: 220px;
}

.joke {
	text-align: center;
	font-size: 30px;
}


#history {
	margin-top: 50px;
	margin-left: 20px;
}


.product-list {
	width: 1000px;
	align-items: center;
	text-align: center;
	margin: 0 auto;

  }
  
  .product-list img {
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	margin: 20px;
  }
  







